$text: #91a3f5;
$turq: turquoise;

@mixin block {
  color: $text;
  background-color: $turq;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  border: solid 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.css-grid {
  @include block;
}

#title {
  text-align: center;
  color: cadetblue;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: wheat;
  margin: 0;
}

#break-decrement,
#break-increment,
#session-increment,
#session-decrement,
#routine-decrement,
#routine-increment {
  border: solid black 2px;
}

#routine-length,
#break-length,
#session-length {
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid purple 2px;
}

#time-left {
  color: olivedrab;
  font-size: xx-large;
  font-weight: bold;
}

#start_stop {
  background-color: aquamarine;
  border: double green 3px;
  padding: 5px;
}
#reset {
  background-color: rgb(184, 26, 26);
  font-weight: bold;
  border: double orange 3px;
  padding: 5px;
}

#timer-label {
  color: blueviolet;
  font-weight: bolder;
}

#TimerArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .buttons {
    width: 25%;
    height: 7vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
